# Turn Rewrite Engine On
RewriteEngine on

# Rewrite for index.php
RewriteRule ^/ index.php
RewriteRule ^login login.php
RewriteRule ^register register.php
RewriteRule ^owner owner.php
RewriteRule ^restaurants/(.*) template.php

ErrorDocument 403 /restomatic/err/403.php
ErrorDocument 404 /restomatic/err/404.php