/*
	 #D79922 mustard
	 #EFE2BA cream
	 #F13C20 red
	 #4056A1 blue
	 #C5CBE3 light blue
*/

header {
	width: 100%;
	display: flex;
	background-color: #f13c20;
	justify-content: space-between;
}

header a:hover {
	text-decoration-line: underline;
}

header a {
	color: #efe2ba;
	font-weight: bolder;
	text-decoration-line: none;
}
.home {
	float: left;
	margin: 10px;
	margin-left: 3%;
}

.headerLogin {
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 3%;
}

.headerLogin a {
	margin: 10px;
}
