body {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

fieldset {
	display: flex;
	flex-direction: column;
	background: wheat;
}

legend {
	background-color: silver;
}

form {
	align-self: center;
}

ul {
	list-style-type: none;
}

.content {
	flex: 2;
	/*flex-basis: 1em; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 90%;
	height: 100%;

	background-color: brown;
}
