/*
	 #D79922 mustard
	 #EFE2BA cream
	 #F13C20 red
	 #4056A1 blue
	 #C5CBE3 light blue
*/

html {
	align-items: center;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 100%;
	color: #4056a1;
}

body {
	align-items: center;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 95%;
}
fieldset {
	background: wheat;
	display: flex;
	flex-direction: column;
}

legend {
	background-color: silver;
}

form {
	align-self: center;
	display: flex;
	flex-direction: column;
	margin: 5% auto;
}

ul {
	list-style-type: none;
}

.content {
	background-color: #efe2ba;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	width: 100%;
	text-align: center;
	height: 100%;
}

.restaurantList {
	align-self: center;
	background-color: burlywood;
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60%;
	margin: 5% auto;
}
.restaurantList li {
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 10px;
}
.restaurantList li img {
	align-self: left;
	height: 100px;
	width: auto;
}

.restaurantList div {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.restaurantList .updateButton {
	align-self: center;
}

.restaurantList a {
	margin-left: 10px;
}

.restaurantGrid {
	align-self: center;
	border: 3px solid lightgray;
	background-color: whitesmoke;
	display: grid;
	grid-template-columns: repeat(auto-fill, 140px);
	justify-content: center;
	list-style-type: none;
	min-width: 70%;
	max-width: 95%;
	margin: 0;
	padding: 0;
}

.restaurantGrid li {
	border: 3px solid lightgray;
	background-color: #c5cbe3;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 10px;
	padding: 10px;
	width: 100px;
}

.restaurantGrid li img {
	height: 100px;
	width: 100px;
}

.restaurantGrid li a {
	color: gray;
}

.reviewList {
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60%;

	margin-top: 2% auto;
}

.reviewList li {
	border: 2px solid lightgray;
	background-color: burlywood;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 5px;
	margin: 3px;
}

.reviewList li a {
	align-self: flex-end;
}

.reviewList div {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.reviewList div p {
	align-self: flex-start;
}
